
.btn{
  color: #fff;
  background-color: var(--primary_color);
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  padding: 5px 12px;
  border: none;
}

.rate_main{
  text-align: center;
  margin: 20px;
}

.rate_main .money_img{
  width: 150px;
  height: 150px;
}

.currency{
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.currency select{
  padding: 10px 20px 10px 10px;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
  background-position: right 10px top 50%, 0, 0;
  background-size: 12px auto, 100%;
  background-repeat: no-repeat;
}

.currency input{
  border: 0;
  background: transparent;
  font-size: 20px;
  text-align: right;
}

.swap_rate{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate{
  color: var(--primary_color);
  font-size: 14px;
  padding: 0 10px;
}