.header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 40px 15px;
  text-align: center;
  z-index: 1;
}

.header h1 {
  margin: 0;
}

.header p {
  margin: 30px 0;
}

/* Header Button */

button,
input[type="submit"] {
  background-color: var(--secondary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
  margin: auto;
  display: block;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 2;
  transition: all 1s;
}

.toggle:hover {
  transform: scale(1.3);
  transition: all 1s;
}

#tog {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 5px;
  z-index: 2;
  margin-left: 65px;
  transition: all 1s;
}
#tog:hover {
  transform: scale(1.3);
  transition: all 1s;
}

#togg {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 5px;
  z-index: 2;
  margin-left: 140px;
  transition: all 1s;
}
#togg:hover {
  transform: scale(1.3);
  transition: all 1s;
}

.cta-btn {
  padding: 12px 30px;
  font-size: 20px;
  transition: all 1s;
}
.cta-btn:hover {
  transform: scale(1.3);
  transition: all 1s;
}
