.page {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  overflow: hidden;
  top: 170%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  width: 400px;
  height: 430px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.form_control {
  margin-top: 26px;
  flex: 1;
}

.form_control label {
  font-size: 20px;
  font-weight: 600;
}

.form-input {
  display: flex;
  border-radius: 8px;
  margin: 20px;
  background-color: white;
  font-family: "Lato", sans-serif;
  padding: 8px;
  width: 90%;
  height: 40px;
}

.form-input:focus-within {
  outline: none;
  border: 1px solid var(--primary-color);
}

.form-input::placeholder {
  color: #333;
}

.error {
  margin: 10px;
  color: var(--error-color);
  font-size: 15px;
  font-family: "Lato", sans-serif;
}

.loginbut {
  margin: auto;
  display: block;
}

.loginbut:disabled {
  display: none;
}
