@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.movie-seat-picker {
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.movie {
  margin: 20px 0;
}

.movie select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.containers {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 45px;
  width: 51px;
  margin: 3px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.seat.selected {
  background-color: #00bfff;
}

.seat.occupied {
  background-color: #800000;
}

.seat:nth-of-type(1) {
  margin-left: auto;
}

.seat:nth-of-type(2) {
  margin-right: auto;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:nth-of-type(6) {
  margin-right: auto;
}

.seat:nth-of-type(8) {
  margin-right: auto;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fffacd;
  height: 120px;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  text-align: center;
}

p.text span {
  color: #00bfff;
}
