
nav {
    background-color: #6d88ff;
    border-right: 2px solid rgba(200, 200, 200, 0.1);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    z-index: 1;
    transform: translateX(-1);
    padding: left 50px;
  }
  
  nav .logo {
    padding: 20px 0;
    text-align: center;
  }
  
  nav .logo img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-top: 40px;
  }
  
  nav ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
    text-align: left;
  }
  
  nav ul li {
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 15px;
    margin: 0;
    font-size: 10px;
  }
  
  nav ul li:first-of-type {
    border-top: 2px solid rgba(200, 200, 200, 0.1);
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  nav ul ul {
    border-bottom: 2px solid rgba(200, 200, 200, 0.1);
    padding: 15px;
    font-size: 10px;
  }
  
  nav ul ul:first-of-type {
    border-top: px solid rgba(200, 200, 200, 0.1);
  }
  
  nav ul ul a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul ul a:hover {
    text-decoration: underline;
  }
  
  nav ul ul li {
    font-size: 10px;
  }