*{
    margin: 0;
    padding: 0;
}
:root{
    --apple:red
}

.wrap_app{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.play_time{
    font-size: 3rem;
    margin-top: 2rem;
    color: lightblue;
}
ul{
    margin-top: 1rem;
    list-style: none;
    border: 2px solid var(--apple);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-radius: 5px;
}
li{
    width: 100px;
    height: 100px;
    border: 1px solid pink;
    color: pink;
    background-image: url(moon.png);
}

.list0{
    background-position-x: 0;
    background-position-y: 0;
    
}
.list1{
    background-position-x: -100px;
    background-position-y: 0;
    
}
.list2{
    background-position-x: -200px;
    background-position-y: 0;
    
}
.list3{
    background-position-x: -300px;
    background-position-y: 0;
    
}
.list4{
    background-position-x: 0;
    background-position-y: -100px;
    
}
.list5{
    background-position-x: -100px;
    background-position-y: -100px;
    
}
.list6{
    background-position-x: -200px;
    background-position-y: -100px;
    
}
.list7{
    background-position-x: -300px;
    background-position-y: -100px;
    
}
.list8{
    background-position-x: 0;
    background-position-y: -200px;
    
}
.list9{
    background-position-x: -100px;
    background-position-y: -200px;
    
}
.list10{
    background-position-x: -200px;
    background-position-y: -200px;
    
}
.list11{
    background-position-x: -300px;
    background-position-y: -200px;
}
.list12{
    background-position-x: 0;
    background-position-y: -300px;
}
.list13{
    background-position-x: -100px;
    background-position-y: -300px;
}
.list14{
    background-position-x: -200px;
    background-position-y: -300px;
}
.list15{
    background-position-x: -300px;
    background-position-y: -300px;
}



.start{
    background: var(--apple);
    color: pink;
    border: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    border-radius: 25px;
}
.game_text{
    position: absolute;
    font-size: 45px;
    color: gold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    display: none;
}