:root{
    --primary_color: #5fbaa7;
}

*{
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}

h1{
    color: var(--primary_color);
}

p{
    text-align: center;
}

.btn{
    color: #fff;
    background-color: var(--primary_color);
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 12px;
    border: none;
}

.money_img{
    width: 150px;
    height: 150px;
}

.currency{
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency select{
    padding: 10px 20px 10px 10px;
    border: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
    background-position: right 10px top 50%, 0, 0;
    background-size: 12px auto, 100%;
    background-repeat: no-repeat;
}

.currency input{
    border: 0;
    background: transparent;
    font-size: 20px;
    text-align: right;
}

.swap_rate{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate{
    color: var(--primary_color);
    font-size: 14px;
    padding: 0 10px;
}